
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-j32 {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .header-v7W {
    flex-shrink: 0;
    margin-bottom: 91.5rem;
    box-sizing: border-box;
    padding: 1.75rem 15.6rem 2.05rem 11.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #a27da3;

    .item--azg {
      flex-shrink: 0;
      justify-content: center;
      font-weight: 900;
      line-height: 2.5775;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 10.6rem;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-family: Inknut Antiqua, 'Source Sans Pro';
    }
    .auto-group-qzpa-Yq2 {
      margin: 0.9rem 2.8rem 0rem 0rem;
      width: 73.8rem;
      height: 5.2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-1-3mn {
      width: 5.2rem;
      height: 5.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.9rem 6.1rem 0rem 0rem;
    }
    .pngwing-1-juW {
      object-fit: cover;
      vertical-align: top;
      border-radius: 14.75rem;
      flex-shrink: 0;
      margin-top: 0.9rem;
      width: 5.2rem;
      height: 5.2rem;
    }
  }
  .item--SZ2 {
    box-sizing: border-box;
    padding-top: 4.7015rem;
    width: 100%;
    flex-shrink: 0;

    .rectangle-11-BFi {
      width: 100%;
      height: 15.2985rem;
      background-color: #a27ea3;
    }
  }
}
