
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
.main-j32 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2F4F4F;
}
.main-j32 .header-v7W {
  box-sizing: border-box;
  padding: 1.75rem 15.6rem 2.05rem 11.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(27, 27, 27);
  flex-shrink: 0;
}
.main-j32 .header-v7W .item--azg {
  margin-right: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.5775;
  color: #ffffff;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-j32 .header-v7W .auto-group-qzpa-Yq2 {
  margin: 0.9rem 2.8rem 0rem 0rem;
  width: 73.8rem;
  height: 5.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-j32 .header-v7W .item-1-3mn {
  margin: 0.9rem 6.1rem 0rem 0rem;
  width: 5.2rem;
  height: 5.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-j32 .header-v7W .pngwing-1-juW {
  margin-top: 0.9rem;
  width: 5.2rem;
  height: 5.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 14.75rem;
  flex-shrink: 0;
}
.main-j32 .item--SZ2 {
  box-sizing: border-box;
  padding-top: 100%;
  width: 100%;
  flex-shrink: 0;
}
.main-j32 .item--SZ2 .rectangle-11-BFi {
  width: 100%;
  height: 15.3rem;
  background-color: #2F4F4F;
}
footer{
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  height: 15.3rem;
  background-color: #2F4F4F;
}
.basy {
  width: 100%;
  height: 25rem;
  background-color: #2F4F4F;
  border-radius: 1rem;
}
.img {
  width: 100%;
  height: 17.4rem;
  background-color: #d9d9d9;
}
.text {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.button {
  width: 100%;
  height: 2.1rem;
  background-color: #111;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fff;
  font-family: Inter, 'Source Sans Pro';
  z-index: 0;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #000
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.button-image {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .0.25s ease-in-out;
  margin-left:10px;
}
.button-image:hover,
.button-image:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
form {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
input, .button-search   {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 42px;
  background: #fff;
  padding-left: 15px;
}
.button-search {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #111;
  cursor: pointer;
}
.button-search {
  content: "\f105";
  font-family: arial;
  color: #ffffff;
  font-size: 20px;
}
table{
  border-spacing: 3.2rem 4rem;
}
body {
  background-color: DarkSlateGrey;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.controls {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  text-align: center;
}

.button-sliedr {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 30px;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
  background-color: azure;
  border-radius: 1rem;
}

.hidden {
  display: none;
}

.image-product {
  width: 900px;
  height: 600px;
  border-radius: 1rem;
}
.text-poduct {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  padding: 40px;
}

.button-buy {
  width: 500px;
  height: 50px;
  background-color: #111;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2125;
  color: #fff;
  font-family: Inter, 'Source Sans Pro';
  z-index: 0;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.button-buy:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button-buy:active {
  color: #000
}

.button-buy:active:after {
  background: transparent;
}

.button-buy:hover:before {
  opacity: 1;
}

.button-buy:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.controls {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}

.popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  font-family: Inter, 'Source Sans Pro';
  font-size: 30px;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  background-color: darkslategray;
  border: 1px solid black;
  border-radius: 1rem;
  opacity: 1;
  z-index: 9999;
}
.button-close {
  width: 400px;
  height: 50px;
  background-color: #111;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2125;
  color: #fff;
  font-family: Inter, 'Source Sans Pro';
  z-index: 0;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.button-close:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button-close:active {
  color: #000
}

.button-close:active:after {
  background: transparent;
}

.button-close:hover:before {
  opacity: 1;
}

.button-close:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}